spring:
  application:
    name: hospitalmanagement

  datasource:
    url: jdbc:mysql://localhost:3306/schooldb
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
